.center-link {
    width: 100%;
    margin: 0 auto;
}
.bs-callout {
    height: 50px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    padding-top: 10px;
}
.bs-callout:hover{
    background: #f4f4f4;
}
.canvas_back {
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 10000
}
.font-row-options {
    background: #ebebeb;
}
.div-seguimiento {

}
.p-valida-img {
    border-bottom: 1px solid #E8890C;
    background: #E8890C;
    padding: 5px;
    color: #fff;
}
.div-img-gray {
    padding: 5px;
    margin-bottom: 20px;
    background: #f1f1f1;
}
.center-img {
    display: table;
    margin-right: auto;
    margin-left: auto;
}
.title-blue {
    color: #16242f;
    font-weight: 600;
}

.td-selected {
    background: #a9a6a8;
    color: #fff;
    border: #cecece;
}
.btn-salmon {
    background: #e65450;
    border-color: #e65450;
    color: #FFF;
}
.btn-salmon:hover, .btn-salmon:focus {
    background: #cf6a67;
    border-color: #cf6a67;
    color: #FFFFFF;
}